*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    /* box-sizing: border-box; */
}
.container{
    width: 90%;
    margin: auto;
}
.ok{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.card{
    width: 290px;
    height: 300px;
    border-radius: 5%;
    border: 3px solid rgb(35, 45, 87);
    margin-bottom: 10px;
}
.card h3{
   text-align: center;
}
.card img{
    width: 100%;
    border-radius: 12px;
    height: 85%;
}